body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #00008b, #ffffff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.App {
  font-family: Arial, sans-serif;
  width: 100%;
}

h1, h2 {
  text-align: center;
}

.form-container, .service-list-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  margin: 5px 0;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #218838;
}

.service-list {
  width: 100%;
}

.service-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  overflow: hidden; 
}

.service-item h3, .service-item p {
  margin: 0;
  word-wrap: break-word; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-item h3 {
  margin-bottom: 5px;
}

.service-item p {
  margin: 5px 0 10px;
}

.service-item button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.service-item button:hover {
  opacity: 0.8;
}

.service-item button.edit-button {
  background-color: #007bff;
  color: white;
}

.service-item button.edit-button:hover {
  background-color: #0056b3;
}

.service-item button.delete-button {
  background-color: #dc3545;
  color: white;
}

.service-item button.delete-button:hover {
  background-color: #c82333;
}
